::-webkit-scrollbar {
    display: none;
}

.top {
    display: block;
    width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.background {
    background-attachment: fixed;
    background-image: url("https://hanghae99.spartacodingclub.kr/static/images/main/hero.jpg");
    background-position: top;
    background-size: cover;
    padding-bottom: 50px !important;

    min-height: 100vh;
    height: 100%;
    z-index: -1;
}

.main_title {
    display: inline-block;
    text-align: center;
    margin: auto;
    color: red;
}

.main_wrap {
    padding: 15px;
    margin: 20px 20px 0 20px;
    width: auto;
    background-color: #bfbfbf;
    border-radius: 5px;
    align-items: center;
    opacity: 0.8;
    z-index: 1;
}

.menu_nav {
    border: black 1px solid;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.post_text {
    color: red;
    font-size: large;
}

.cards_columns {
    column-width: 300px;
    column-gap: 35px;
    column-count: auto;
}

.card-columns {
    display: flex;
    /*!*justify-content: space-between;*/
    /*margin: 0 70px;*/
    margin-top: 35px;
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
}

.post_bottom {
    display: block;
    text-align: right;
}

.nick_text {
    float: left;
}

.modify_btn {
    font-size: small;
    color: grey;
}

.delete_btn {
    font-size: small;
    margin-left: 0 !important;
    color: grey;
}

.like_btn {
    float: left;
    font-size: 15px;
    color: red;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

@media ( max-width: 1238px ) {
    .cards_box {
        width: 800px;
        margin: auto;
    }

}

@media ( max-width: 837px ) {
    .cards_box {
        width: 366px;
        margin: auto;
    }

}