<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/content.css">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
  <title>조난99</title>

  <script>
    function postContent() {
      let title = $('#title').val()
      let comment = $('#contentIn').val()
      let nickname = $('#nickname').val()

      $.ajax({
        type: "POST",
        url: "/api/content",
        data: { title_give: title, comment_give: comment, nickname_give: nickname },
        success: function (response) {
          alert(response["msg"]);
          window.location.href = "/post_home"
        }
      })
    }
  </script>
</head>

<body>
  <nav class="navbar">
    <div class="navbar_logo">
      <a href="#">
        <img src="../static/img/logo.png" alt="logo">
      </a>
    </div>
  </nav>
  <div class="backImg">
    <section class="contentMain mx-auto col-lg-6 col-md-8 col-sm-10 col-12">
      <div class="wrap">
        <div class="introduceText">
          당신의 하소연을 풀어주세요...
        </div>
        <div class="contentTitle">
          <label class="labelTitle" for="title">제목</label>
          <input class="text" type="text" name="title" id="title">
        </div>
        <div class="inContent">
          <label class="labelContentIn" for="contentIn">내용</label>
          <textarea name="" id="contentIn" cols="60" rows="8"></textarea>
        </div>
        <div class="nickName">
          <label class="labelnickName" for="nickname">닉네임</label>
          <input class="text" type="text" name="nickname" id="nickname">
        </div>
        <div class="submitBtn">
          <button class="submitButton btn btn-outline-dark" onclick="postContent()" type="submit"
            style="color: azure;">게시하기</button>
          <button class="backButton btn btn-outline-dark" type="Button" style="color: azure;">돌아가기</button>
        </div>
      </div>
    </section>
  </div>

</body>

</html>