{% extends "jinja_sample/after_login.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    - test home
{% endblock %}

{% block script %}
    <script>
        function postContent() {
            let title = $('#title').val()
            let comment = $('#contentIn').val()
            let nickname = $('#nickname').val()
            let today = new Date().toISOString()
            const user= {{ user | tojson }}
            const href= {{ href_info | tojson }}

            if ( user == href) {
                $.ajax({
                    type: "POST",
                    url: "/api/content",
                    data: {
                        title_give: title,
                        comment_give: comment,
                        nickname_give: nickname,
                        date_give: today
                    },
                    success: function (response) {
                        alert(response["msg"]);

                        window.location.replace("/post_home")

                    }
                })
            } else {
                alert('수정연결')
            }

        }

    </script>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <section class="contentMain mx-auto col-lg-6 col-md-8 col-sm-10 col-12">
        <div class="wrap">
            <div class="introduceText">
                {{ user_info['id'] }}님 당신의 하소연을 풀어주세요...
            </div>
            <div class="contentTitle">
                <label class="labelTitle" for="title">제목</label>
                <input class="text" type="text" name="za" id="title">
            </div>
            <div class="inContent">
                <label class="labelContentIn" for="contentIn">내용</label>
                <textarea name="" id="contentIn" cols="60" rows="8"></textarea>
            </div>
            <div class="nickName">
                <label class="labelnickName" for="nickname">닉네임</label>
                <input class="text" type="text" name="aa" id="nickname">
            </div>
            <div class="submitBtn">
                <button class="submitButton btn btn-outline-dark" onclick="postContent()" type="submit"
                        style="color: azure;">확인
                </button>
                <button onclick="window.location.href='/post_home'" class="backButton btn btn-outline-dark"
                        type="Button" style="color: azure;">돌아가기
                </button>
            </div>
        </div>
    </section>
{% endblock %}