{% extends "jinja_sample/after_login.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    - test home
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}

{% block nav %}

{% endblock %}

{% block body %}
    <div class="mainPage"></div>
    <a href="/login">
        <div class="mainCenter">
            S <span class="white">O</span> S
        </div>
    </a>
    <div class="subCenter">
        항해99를 하다 지친 구성원들이 하소연 글을 올리고 정보공유를 할 수 있는 공간입니다.
    </div>
{% endblock %}