{% extends "jinja_sample/before_login.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    - test home
{% endblock %}

{% block script %}
    <script>
        function login() {

            let login_value = $('#login').val();
            let password_value = $('#password').val();
            if (login_value == '') {
                alert('아이디를 입력하세요!');
            } else if (password_value == '') {
                alert('비밀번호를 입력하세요!')
            } else {
                alert('아이디 비밀번호 입력 완료!');
                // 누르면 로그인 완료 후 메인페이지로 이동 location.href='pagename.html'
            }
        }
    </script>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
    <div class="box">
        <div class="content">
            <div>
                <h1>로그인</h1>
                <div class="big_login_box">
                    <div class="input-group mb-3" id="login-box">
                        <div class="input-group ">
                            <div class="input-group mb-3 align-items-center">
                                <span class="text-centered col-2">ID</span>
                                <input type="text" class="form-control" id="login" placeholder="아이디를 입력해주세요."
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                        </div>
                        <div class="input-group ">
                            <div class="input-group mb-3 align-items-center">
                                <span class="text-centered col-2">PW</span>
                                <input type="text" class="form-control" id="password" placeholder="비밀번호를 입력해주세요."
                                       aria-label="Recipient's username" aria-describedby="button-addon2">
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark" onclick="login()">
                            로그인
                        </button>
                        <button type="button" class="btn btn-dark" onclick="window.location.href='/sign_up'">
                            회원가입
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


