<!doctype html>
<html lang="ko">

<head>

    <meta charset="UTF-8">
    <title>로그인 페이지</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <script>


        function login() {

            let login_value = $('#login').val();
            let password_value = $('#password').val();
            if (login_value == '') {
                alert('아이디를 입력하세요!');
            } else if (password_value == ''){
                alert('비밀번호를 입력하세요!')
            } else {
                alert('아이디 비밀번호 입력 완료!');
                // 누르면 로그인 완료 후 메인페이지로 이동 location.href='pagename.html'
            }
        }

    </script>

    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
<div class="big_login_box">
<div class="input-group mb-3" id="login-box" >
  <input id="login"type="text" class="form-control" placeholder="아이디를 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2" style="height:50px; width: 500px; margin-bottom: 5px"><br>
  <input id="password"type="text" class="form-control" placeholder="비밀번호를 입력해주세요." aria-label="Recipient's username" aria-describedby="button-addon2" style="height:50px; width: 500px"><br>
  <button onclick="login()" class="btn btn-outline-secondary" type="button" id="button-login" style="height:50px; width: 500px; margin-top: 20px">로그인</button><br>
  <button onclick="sign(); //누르면 링크이동(회원가입 링크)->location.href='PAGENAME.html'" class="btn btn-outline-secondary" type="button" id="button-sign_up" style="height:50px; width: 500px; margin-top: 3px">회원가입</button>
</div>
</div>
</body>

</html>