<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>조난99</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/post_home.css">

</head>
<body>
<div class="background">
    <div class="top">
         <h1 class="main_title"> 조난 99 </h1>
        <button type="button" class="btn btn-outline-secondary" id="login_btn">로그인</button>
    </div>

    <div class="main_wrap">
        <ul class="nav nav-pills nav-fill menu_nav">
            <li class="nav-item">
                <a class="nav-link water_temp">
                    <p>
                        한강 수온 : <span id="water_api"> </span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link weather">
                    <p>
                        날씨 : <span id="weather_api"> </span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
                <a class="nav-link" href="#">글쓰기</a>
            </li>
        </ul>

        <div class="cards_box">
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">아 어렵네요</h5>
                        <p class="card-text">인생 뭘까요 왜 이렇게 어렵죠..</p>
                        <div>
                            <span class="card-text"><small class="text-muted">Nickname</small></span>
                            <span>수정</span>
                            <span>삭제</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>