<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>조난99</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/post_home.css">

    <!--  스크립트  -->
    <script>

        function logout(id) {
            $.ajax({
                type: 'POST',
                url: '/api/logout',
                data: {id_give: id},
                success: function (response) {
                    alert(response['msg']);
                    window.location.href="/"
                }
            });
        }

        function go_modify() {
            window.location.href="/content"
        }

        function go_delete(name) {
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {name_give: name},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }

    </script>

</head>
<body>
<div class="background">
    <div class="top">
         <h1 class="main_title"> 조난 99 </h1>
        <button onclick="logout(id)" type="button" class="btn btn-outline-secondary" id="login_btn">로그아웃</button>
    </div>

    <div class="main_wrap">
        <ul class="nav nav-pills nav-fill menu_nav">
            <li class="nav-item">
                <a class="nav-link water_temp">
                    <p>
                        한강 수온 : <span id="water_api">{{ water_temp }} °C</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link weather">
                    <p>
                        날씨 : <span id="weather_api">{{ weather_temp|round(1) }} °C</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"></a>
            </li>
            <li class="nav-item"></li>
            <li class="nav-item">
                <a class="nav-link post_text" href="/content">글쓰기</a>
            </li>
        </ul>


        <div class="cards_box">
            <div class="card-columns cards_columns">
                <div class="card" style="width: 366px;">
                    <div class="card-body">
                        <h5 class="card-title">아 어렵네요</h5>
                        <h6 class="card-subtitle mb-2 text-muted">nick name</h6>
                        <p class="card-text">인생 뭘까요 왜 이렇게 어렵죠..</p>
                        <div class="post_bottom">
                            <button onclick="like()" type="button" class="card-link btn btn-link like_btn">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"> 응원해요 ({{ like }})</i>
                            </button>
                            <button onclick="go_modify()" type="button" class="card-link btn btn-link modify_btn">수정</button>
                            <button onclick="go_delete(name)" type="button" class="card-link btn btn-link delete_btn">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 366px;">
                    <div class="card-body">
                        <h5 class="card-title">아 어렵네요</h5>
                        <h6 class="card-subtitle mb-2 text-muted">nick name</h6>
                        <p class="card-text">인생 뭘까요 왜 이렇게 어렵죠..</p>
                        <div class="post_bottom">
                            <button onclick="like()" type="button" class="card-link btn btn-link like_btn">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"> 응원해요 ({{ like }})</i>
                            </button>
                            <button onclick="go_modify()" type="button" class="card-link btn btn-link modify_btn">수정</button>
                            <button onclick="go_delete(name)" type="button" class="card-link btn btn-link delete_btn">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 366px;">
                    <div class="card-body">
                        <h5 class="card-title">아 어렵네요</h5>
                        <h6 class="card-subtitle mb-2 text-muted">nick name</h6>
                        <p class="card-text">인생 뭘까요 왜 이렇게 어렵죠..</p>
                        <div class="post_bottom">
                            <button onclick="like()" type="button" class="card-link btn btn-link like_btn">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"> 응원해요 ({{ like }})</i>
                            </button>
                            <button onclick="go_modify()" type="button" class="card-link btn btn-link modify_btn">수정</button>
                            <button onclick="go_delete(name)" type="button" class="card-link btn btn-link delete_btn">삭제</button>
                        </div>
                    </div>
                </div>
                <div class="card" style="width: 366px;">
                    <div class="card-body">
                        <h5 class="card-title">아 어렵네요</h5>
                        <h6 class="card-subtitle mb-2 text-muted">nick name</h6>
                        <p class="card-text">인생 뭘까요 왜 이렇게 어렵죠..</p>
                        <div class="post_bottom">
                            <button onclick="like()" type="button" class="card-link btn btn-link like_btn">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"> 응원해요 ({{ like }})</i>
                            </button>
                            <button onclick="go_modify()" type="button" class="card-link btn btn-link modify_btn">수정</button>
                            <button onclick="go_delete(name)" type="button" class="card-link btn btn-link delete_btn">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>