{% extends "jinja_sample/before_login.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    - 회원 가입
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function pwcheck() {});
        <!--     아이디 중복확인 함수     -->
        function id_overlap_check() {
            $.ajax({
                type: "POST",
                url: "/api/id_overlap",
                data: {
                    id_give: $('#userid').val(),
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        function foucus() {
            return $('#userpw').val('').focus()
        }

        let count = false

        function id_count() {
            count = true
        }

        <!--  비밀번호 일치/불일치 표시  -->
        $(function pwcheck() {
            $('#chkNotice').html('');
            $('#userpw').keyup(function () {
                if ($('#userpw_check').val()) {
                    if ($('#userpw').val() != $('#userpw_check').val()) {
                        $('#chkNotice').html('비밀번호 일치하지 않음');
                        $('#chkNotice').css('color', '#FF3605');
                    } else {
                        $('#chkNotice').html('비밀번호 일치함');
                        $('#chkNotice').css('color', '#1f5fff');
                    }
                }
            });

            $('#userpw_check').keyup(function () {

                if ($('#userpw').val() != $('#userpw_check').val()) {
                    $('#chkNotice').html('비밀번호 일치하지 않음');
                    $('#chkNotice').css('color', '#FF3605');
                } else {
                    $('#chkNotice').html('비밀번호 일치함');
                    $('#chkNotice').css('color', '#1f5fff');
                }

            });
        });

        function register() {
            let nick = $('#usernick').val();
            let userid = $('#userid').val();
            let pwd1 = $('#userpw').val();
            let pwd2 = $('#userpw_check').val();

            //빈칸이 있을 시에 alert
            if (nick == '' || userid == '' || pwd1 == '' || pwd2 == '') {
                alert('빈 항목을 작성해주세요!')
                return;
            }

            //비밀번호가 일치하지 않는 경우
            if (pwd1 != pwd2) {
                alert('비밀번호가 일치하지 않습니다!')
                $('#userpw').val('').focus()
                return;
            }
            //비밀번호 조건 검사(숫자+영어 6자 이상)
            let regExp = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z!@#$%^&*]{6,}$/;
            if (!regExp.test(pwd1)) {
                alert("비밀번호는 영문+숫자 6자리 이상이어야 합니다.")
                $('#userpw_check').val('');
                $('#userpw').val('').focus();
                return;
            }
            $.ajax({
                type: "POST",
                url: "/api/sign_up",
                data: {
                    id_give: userid,
                    pw_give: pwd1,
                    nickname_give: nick,
                    id_count: count,
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }

                }
            })
        }

    </script>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="box">
            <div class="content">
                <div>
                    <!-- 회원가입 박스 타이틀 -->
                    <h1>회원가입</h1>

                    <!-- 아이디 -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="userid">아이디</label>
                            <input type="text" class="form-control" id="userid" placeholder="ID를 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2"
                                   autocomplete='off'>
                            <span>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                    onclick="id_overlap_check(), id_count()">중복확인</button>
                            </span>
                        </div>
                    </div>

                    <!-- 비밀번호 -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="userpw">비밀번호</label>
                            <input type="password" class="form-control" id="userpw"
                                   placeholder="영문+숫자 조합 6자리 이상으로 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2"
                                   onpaste="javascript:return false;" autocomplete='off'>
                        </div>
                    </div>

                    <!-- 비밀번호확인 -->
                    <div class="input-group pwcheck_box">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="userpw_check">비밀번호 확인</label>
                            <input type="password" class="form-control" id="userpw_check" placeholder="PW를 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2"
                                   onpaste="javascript:return false;" autocomplete='off'>
                            <div class="pwcheck" id="chkNotice" size="2"></div>
                        </div>
                    </div>

                    <!-- nickname -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="usernick">Nick</label>
                            <input type="text" class="form-control" id="usernick" placeholder="닉네임을 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2"
                                   autocomplete='off'>
                        </div>
                    </div>

                    <!-- 가입하기 버튼 -->
                    <button type="button" class="btn btn-dark" onclick="register()">회원가입</button>
                    <button type="button" class="btn btn-dark" onclick="location.href='/login'">취소</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}