{% extends "jinja_sample/before_login.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    - test home
{% endblock %}


{% block script %}
    <script>
        function register() {
            $.ajax({
                type: "POST",
                url: "/api/sign_up",
                data: {
                    id_give: $('#userid').val(),
                    pw_give: $('#userpw').val(),
                    nickname_give: $('#usernick').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = '/login'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

    {#    function pw check   비번 입력값 확인 함수 필요     #}
    </script>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="box">
            <div class="content">
                <div>
                    <!-- 회원가입 박스 타이틀 -->
                    <h1>회원가입</h1>

                    <!-- 아이디 -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="userid">아이디</label>
                            <input type="text" class="form-control" id="userid" placeholder="ID를 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                            <span>
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                    onclick="alert('중복된 아이디가 없습니다')">중복확인</button>
                            </span>
                        </div>
                    </div>

                    <!-- 비밀번호 -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="userpw">비밀번호</label>
                            <input type="text" class="form-control" id="userpw" placeholder="영문+숫자 조합 6자리 이상으로 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                    </div>

                    <!-- 비밀번호확인 -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="userpw_check">비밀번호 확인</label>
                            <input type="text" class="form-control" id="userpw_check" placeholder="ID를 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                    </div>

                    <!-- nickname -->
                    <div class="input-group ">
                        <div class="input-group mb-3 align-items-center">
                            <label class="text-centered col-2" for="usernick">Nick</label>
                            <input type="text" class="form-control" id="usernick" placeholder="닉네임을 입력하세요!"
                                   aria-label="Recipient's username" aria-describedby="button-addon2">
                        </div>
                    </div>

                    <!-- 가입하기 버튼 -->
                    <button type="button" class="btn btn-dark" onclick="register()">회원가입</button>
                    <button type="button" class="btn btn-dark" onclick="location.href='/login'">취소</button>

                </div>
            </div>
        </div>
    </div>
{% endblock %}